<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>hello world</title>
</head>
<body>
  <div style="color:red;">hello world</div>
  <table border>
    <thead>
      <th>1</th>
      <th>1</th>
      <th>1</th>
      <th>1</th>
      <th>1</th>
      <th>1</th>
      <th>1</th>
      <th>1</th>
      <th>1</th>
    </thead>
    <tbody>
      <tr>
        <td>1</td>
        <td>1</td>
        <td>1</td>
        <td>1</td>
        <td>1</td>
        <td>1</td>
        <td>1</td>
        <td>1</td>
        <td>1</td>
      </tr>
    </tbody>
  </table>
</body>
</html>